

*{
        list-style: none;
    text-decoration: none;
}

.hdr{
    display: flex;
    height: 60px;
    position: fixed;
    left: 0;top: 0;
    right: 0;
    padding: 50px 200px;
    align-items: center;
    // background-color: rgba(37, 37, 36, 0.318);
    justify-content: space-between;
    z-index: 10;


    .navii  {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 80px;
        right: 20px;
        background-color: rgba(0, 0, 0, 0.705);
        padding: 10px 20px;
        border-radius: 10px;
        gap: 10px;

    }
    
        .burger.active .line:nth-child(1) {
            transform: rotate(45deg) translate(8px, 7px);
            }

            .burger.active .line:nth-child(2) {
            opacity: 0;
            }

            .burger.active .line:nth-child(3) {
            transform: rotate(-45deg) translate(7px, -6px);
            }


    
    
    .burgerDiv{
        display: none;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 5px;

        .burger{
            display: flex;
            flex-direction: column;
            gap: 5px;


               .line{
            width: 25px;
            height: 5px;
            background-color: rgb(0, 0, 0);
        }
        }
     
    }

      &.scrolled {
    background-color: rgba(0, 0, 0, 0.334);
    border-bottom: 2px red solid;;
  }

    nav{
        display: flex;

        ul{
            display: flex;
            gap: 50px;
            li{
                a{
                    color: rgb(255, 255, 255);
                    font-size: 23px;
                    font-weight: bold;
                }

                .cart{
                    background-color: red;
                    padding: 5px 15px;
                    border-radius: 10px;
                }
            }
            i{
                font-size: 30px;
                color: white;
                transition: 0.6s ease-in-out;
            }
            .motoo:hover{
                i{
                    transform: translateX(20px);
                    
                }
            }

            .reg{
                position: relative;
                overflow: hidden;
            }
            .reg::after{

                  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #efc807;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
            }
            .reg:hover::after{
                transform: scaleX(1);
            }
        }
    }
}



@media screen and (max-width:920px){
    .hdr{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 500px) {
    .hdr{
        .burgerDiv{
            display: flex;
        }
    }

    .hdr nav{
        display: none;
    }

}