

<div class="hdr" [class.scrolled]="isScrolled">
    <div class="logo">
        <img style="cursor:pointer;" [routerLink]="'/main'"  src="https://restaurant.stepprojects.ge/images/logo.png" alt="">
    </div>
    <nav>
        <ul>
            <li *ngIf="isAuth()" class="motoo"><span [routerLink]="'/cart'" class="cart" href="">Cart </span>
            <li *ngIf="!isAuth()"><span [routerLink]="'/register'" [routerLinkActive]="active" class="reg" href="">Register</span></li>
            <li *ngIf="!isAuth()"> <span [routerLink]="'/log-in'" [routerLinkActive]="active" class="reg" href="">Log in</span></li>
            <li *ngIf="isAuth()" (click)="logOut()"> <span  class="reg" href="">Log out</span></li>
        </ul>
    </nav>
    <div class="burgerDiv" (click)="toggleMenu()">
        <div class="burger" [class.active]="show">
            <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        </div>
    </div>

    <div *ngIf="show" class="navii activv">
              <li (click)="show = false"  *ngIf="isAuth()" class="motoo"><a [routerLink]="'/cart'" class="cart" href="">Cart </a>
            <li (click)="show = false" *ngIf="!isAuth()"><a  class="reg" [routerLink]="'/register'" >Register</a></li>
            <li (click)="show = false" *ngIf="!isAuth()"><a class="reg"  [routerLink]="'/log-in'">Log In</a></li>
            <li (click)="show = false" style="color: #0D6EDF;" *ngIf="isAuth()" (click)="logOut()"> <span  class="reg" href="">Log out</span></li>
    </div>
</div>




