

<div class="hdr" [class.scrolled]="isScrolled">
    <div class="logo">
        <img (click)="goToRegister()" src="https://restaurant.stepprojects.ge/images/logo.png" alt="">
    </div>
    <nav>
        <ul>
            <li class="motoo"><a class="cart" href="">Cart </a>
            <li><a class="reg" href="">Register</a></li>
        </ul>
    </nav>
    <div class="burgerDiv" (click)="toggleMenu()">
        <div class="burger" [class.active]="show">
            <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        </div>
    </div>

    <div *ngIf="show" class="navii activv">
              <li class="motoo"><a class="cart" href="">Cart </a>
            <li ><a class="reg"  >Register</a></li>
    </div>
</div>




