
*{
    margin: 0;
}

div{
    width: 100%;
    display: flex;
    height: 70px;
    background-color: red;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    p{
        font-size: 15px;
        font-weight: bold;
        color: white;
    }
}