<!-- <div class="card" *ngFor="let el of data" style="width: 18rem;">
  <img [src]="el.image" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{el.name}}</h5>
    <p class="card-text">{{el.price}}$</p>

    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->


<div class="photo">
    <img src="" alt="">
    <p>Fast and efficient, online ordering you must try.</p>
</div>


  <div class="hdr">
    <h1>Categories</h1>
  </div>

  <div class="categoryCont">
    <div (click)="showAll()" class="categoryBck">
      <p class="categoryName">All</p>
    </div>
    <div (click)="filterCategory(el.id)" *ngFor="let el of categoryArr" class="categoryBck">
          <p class="categoryName">
          {{el.name}}  
    </p>
    </div>

  </div>

<div class="main">
  <div class="filter">
    <div class="topFilter">
      <p>Filter</p>
      <i class="fa-solid fa-filter"></i>
    </div>

    <div class="rangeFilter" style="margin-top: 20px;">
  <p style="margin-bottom: 5px;">
    Spiciness:
    <span *ngIf="value !== null; else placeholder">
      {{ value }}
    </span>

    <ng-template #placeholder>
      Not Chosen
    </ng-template>
  </p>

  <input
    type="range"
    min="0"
    max="4"
    [value]="value !== null ? value : 0"
    (input)="onSpicinessChange($event)"
    style="width: 180px; cursor: pointer;"
    class="custom-range range-slider"
  >
</div>

  <div class="checkboxFilter" style="margin-top: 30px;">
    <div class="nutsCheckboxDiv">
      <div (click)="checked()" class="chech">
        <i *ngIf="check" class="fa-solid fa-check"></i>
      </div>
      <p>No Nuts</p>
    </div>
    <div class="veganCheckboxDiv">
            <div (click)="checked2()" class="chech">
        <i *ngIf="check2" class="fa-solid fa-check"></i>
      </div>
      <p>Vegetarian Only</p>
    </div>
  </div>

  <div class="buttons">
    <button class="resetBtn" (click)="reset()">RESET</button>
    <button class="applyBtn" (click)="getFiltered()">APPLY FILTER</button>
  </div>
  </div>

  <div class="grid">
  <div *ngFor="let el of data" class="mainCont">
  <div class="top">
    <img [src]="el.image" alt="">
  </div>

  <div class="bottom">
    <div class="name">
      <p>{{el.name}}</p>
    </div>
    <div class="spiciness">
      <p>Spiciness:{{el.spiciness}}</p>
    </div>

    <div class="nutVeg" >
      <div class="nut">
      <i *ngIf="el.nuts == true  " style="color: green;" class="fa-solid fa-circle-check"></i> 
      <i *ngIf="el.nuts == false" style="color: red;" class="fa-solid fa-circle-xmark"></i>
      <p style="margin: 0;">:Nuts</p>
      </div>
      <div class="veg">
         <i *ngIf="el.vegeterian == true  " style="color: green;" class="fa-solid fa-circle-check"></i> 
      <i *ngIf="el.vegeterian == false" style="color: red;" class="fa-solid fa-circle-xmark"></i>
      <p style="margin: 0;">:Vegetarian</p>
      </div>
    </div>

    <div class="very-bottom">
      <p style="font-weight: bold;font-size: 17px;">${{el.price}}</p>
      <a (click)="addToCart(el.id,el.price)" class="btn btn-danger">Add To Cart</a>
    </div>

  </div>
</div>
</div>

</div>


