*{
    margin: 0;
    box-sizing: border-box;
    color: black;
}

.photo{
    display: flex;
    width: 100%;
    
    background-image: url('https://images.pexels.com/photos/29122093/pexels-photo-29122093.jpeg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    // filter: brightness(80%);
    height: 450px;
    justify-content: center;
    align-items: center;
    display: flex;

    p{
        color: white;
        font-size: 30px;
        font-weight: bold;
        
    }
}


.cartMainContainer{
    display: flex;
    flex-direction: column;
   align-items: center;
    margin-top: 50px;

    .topCart{
        display: flex;
        width: 70%;
        height: 75px;
        background-color: rgb(225, 225, 225);
            border-bottom: red solid 2px;


        .left, .right {
            width: 50%;
            display: flex;
            padding: 0px 60px;
        }

        .left{
            // justify-content: center;
            align-items: center;

            p{
                font-weight:600;
                color: black;
                font-size: 16px;
            }
        }

        .right{
            align-items: center;
            justify-content: end;

            gap: 90px;

                        p{
                font-weight:600;
                color: black;
                font-size: 16px;
            }
        }
    }
}