

<div class="photo">
    <img src="" alt="">
    <!-- <p>Fast and efficient, online ordering you must try.</p> -->
</div>


        <div class="container">
          <form #log="ngForm" (ngSubmit)="logIn(log)">
            
                    <h1>Welcome Back</h1>
        <p class="subtitle">Log in to your account</p>
                 






         <div class="input-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" id="phoneNumber" placeholder="+995" required
             name="phoneNumber" ngModel>
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="••••••••" required
             name="password" ngModel>
        </div>


        <button class="btn" type="submit">Log in</button>

    

        <div class="signup-link">
           Don't Have an Account? <a [routerLink]="'/register'">Register</a>
        </div>

        </form>
        </div>